app-chat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contenedor{
    background: #3f51b5;
    border-radius: 12px;
    display: block;
    width: 1140px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p{
    font-size: xx-large;
    color: white;
    margin-top:17px;
}