.divMsgGrid{
  display: grid;
  grid-template-columns: 800px 200px;
  grid-gap: 2px;
}

input{
  width: 795px;
}

button{
  background-color: #3f51b5;
  color: white;
  border: 2px solid white; /* Green */
}
