<div id="sect1"class="container">
  <div id="contentInput">
    <h1 style="margin: 10px; margin-top: 30px;">Registro</h1>
      <mat-form-field class="inputLogin">
        <mat-label>Correo</mat-label>
        <input [(ngModel)]="correo" matInput>
        <mat-error>Falta correo</mat-error>
      </mat-form-field>
      <mat-form-field class="inputLogin">
        <mat-label>Clave</mat-label>
        <input [(ngModel)]="clave" matInput type="password">
        <mat-error>Falta clave</mat-error>
      </mat-form-field>
      <span style="margin-left: 5px;">{{error}}</span>
      <br>
      <br>
        <tr>
          <td>
            <button id='buttonCancelar' mat-raised-button (click)="Cancelar()">Cancelar</button>
          </td>
        </tr>
        <tr>
        <td>
          <button id='buttonRegistrar' mat-raised-button (click)="onSignUp()">Registrar</button>
        </td>
      </tr>
  </div>
</div>