.contentGame{
  background: hsla(0, 28%, 95%, 0.24);
  border-radius: 12px;
  display: block;
  width: 90%;
  height: 85%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
