
main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

.buttonMenu{
  margin-top: 20px;
  height: 50px;
  width: 100px;
}

app-cuadrado-tateti {
  border: 1px gray solid;
  height: 200px;
}

.divTTT{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  @media (max-height: 900px) {
    zoom: 0.87;
  }
  @media (max-height: 800px) {
    zoom: 0.78;
  }
  @media (max-height: 768px) {
    zoom: 0.73;
  }
  @media (max-height: 720px) {
    zoom: 0.68;
  }
}

.divGrid{
  display: grid;
  grid-template-columns: 200px 200px;
  grid-column-gap: 100px;
}
.divGridStart{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -250px;
  display: grid;
  grid-template-columns: 200px 100px;
  grid-column-gap: 100px;
}

.animationFadeOut{
  animation:fadeOut 1s linear;
}

@keyframes fadeOut{
  0%{opacity: 100%;};
  100%{opacity: 0%};
}

.animationFadeIn{
  animation:fadeIn 1s linear;
}

@keyframes fadeIn{
  0%{opacity: 0%;};
  100%{opacity: 100%};
}
