.container {
    max-width: 600px;
    padding: 60px;

    /* SHADOW */
    -webkit-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 31px -5px rgba(0,0,0,0.75);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
}

.formulario div[class^="col-md-"] {
    height: 90px;
}

.invalid {
    color: red;
}