<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div id='contenedorSuperior'>
<div id='contenedor'>
        <h1>
            ¿Quien soy?
        </h1>
        <img id='miFoto' src="../../../assets/quiensoy.png"/>
        <p>Hola! Mi nombre es Tomás Giordano, tengo 19 años. Empece a estudiar programación a los 16 con un curso de Java para no programadores y desde ese entonces me di cuenta que era lo que me gustaba.</p>
        <p>Hasta el dia de hoy aprendi y sigo aprendiendo muchisimo y el año pasado pude conseguir un puesto de trabajo en una empresa como Desarrollador Backend Trainee/Jr, utilizando mas que nada C# y SQL. Me siento muy comodo en este trabajo por suerte y siento que estoy pudiendo desarrollar mi conocimiento mucho mas a que si estuviera solo estudiando.</p>
</div>
<div id='contenedor2'>
    <h1>
        Mi juego
    </h1>
    <img id='tetris' src="../../../assets/Tetris_logo.png"/>
    <p style="margin-top: 30px;">Elegi el juego "Tetris" para recrear en mi pagina.</p>
    <p>Basicamente, el tetris consiste en ir encajando piezas de diferentes formas y tamaños que caen desde la parte superior de la pantalla para completar un muro sin dejar huecos. El juego fue lanzado al mercado durante la Perestroika, el plan diseñado por Mijaíl Gorbachov para relanzar la economía soviética.</p>
</div>




