<table mat-table [dataSource]="DataSource">
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let score">{{score.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
        <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
        <mat-cell *matCellDef="let score">{{score.score}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
<mat-paginator [length]="30" [pageSize]="7" [pageSizeOptions]="[2, 5, 7]">
</mat-paginator>
